<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KeyLoggerApi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white font-weight-bold mr-5" asp-area="" asp-controller="Keylogger" asp-action="Index">KeyLoggerApi</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item mr-5">
                            <a class="nav-link text-light font-weight-bold" asp-area="" asp-controller="WordList" asp-action="Index">Word List</a>
                        </li>
                        <li class="nav-item mr-5">
                            <a class="nav-link text-light font-weight-bold" asp-area="" asp-controller="DetectedWords" asp-action="Index">DetectedWord</a>
                        </li>
                        <li class="nav-item mr-5">
                            <a class="nav-link text-light font-weight-bold start-logging" href="#">Start Logging</a>
                        </li>
                        <li class="nav-item mr-5">
                            <a class="nav-link text-light font-weight-bold stop-logging" href="#">Stop Logging</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <div class="modal" id="statusModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"></h5>
                            <a href="#" class="closeStatus" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        </div>
                        <div class="modal-body text-center"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary closeStatus" style="margin:auto">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - KeyLoggerApi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        $(".closeStatus").click(function () {
            $("#statusModal").hide();
            $(".modal-body").text("");
            $(".modal-title").text("");

        });

        $(".start-logging").click(function () {
            var formData = {};
            $(".modal-body").text("");
            $(".modal-title").text("");
            $.ajax({
                type: "POST",
                url: '@Url.Action("StartLogging", "Keylogger")',
                data: formData,
                dataType: "json",
                global: false,
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                cache: false,
                error: function (xhr, textStatus, errorThrown) {
                    alert("error while retrieving data");
                },
                success: function (response) {
                    if (response.status) {
                        $("#statusModal").show();
                        $(".modal-body").text("Success!");
                        $(".modal-title").text("Start Logging");
                    }
                    else {
                        $("#statusModal").modal("show");
                        $(".modal-title").text("Start Logging");
                        $(".modal-body").text("Error, please try again!")
                    }
                }
            });
        });

        $(".stop-logging").click(function () {
            var formData = {};
            $(".modal-body").text("");
            $(".modal-title").text("");
            $.ajax({
                type: "POST",
                url: '@Url.Action("StopLogging", "Keylogger")',
                data: formData,
                dataType: "json",
                global: false,
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                cache: false,
                error: function (xhr, textStatus, errorThrown) {
                    alert("error while retrieving data");
                },
                success: function (response) {
                    if (response.status) {
                        $("#statusModal").show();
                        $(".modal-body").text("Success!");
                        $(".modal-title").text("Stop Logging");                    }
                    else {
                        $("#statusModal").show();
                        $(".modal-title").text("Stop Logging");
                        $(".modal-body").text("Error, please try again!")                    }
                }
            });
        });
    </script>

</body>
</html>
