@model IEnumerable<KeyLoggerApi.Models.WordList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row mb-3 mt-3">
    <div class="col-4">
        <a class="btn btn-success" asp-action="Create">Create New</a>
    </div>
    <div class="col-4 text-center">
        <a href="@Url.Action("PrintAll", "WordList")" class="btn btn-primary">Print All</a>
    </div>
    <div class="col-4 text-right">
        <a href="javascript:void(0);" class="btn btn-danger" onclick="if (confirm('Are you sure?')) { window.location.href = '@Url.Action("DeleteAll", "WordList")'; }">DeleteAll</a>
    </div>
</div>
<table class="table">
    <thead style="background-color:#a5cdf9">
        <tr>
            <th style="width:50%">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th style="width:20%">
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th style="width:30%" class="text-center">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td class="text-center">
                <a class="btn btn-outline-primary btn-sm mr-1 ml-2" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-outline-primary btn-sm mr-1 ml-2" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-outline-primary btn-sm mr-1 ml-2" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
